<div class="col-md-12 mb-4 text-center" >
      <p id="notice"><%= notice %></p>
</div>
<div class="col-md-12 mb-4 text-center" >
      <p id="alert"><%= alert %></p>
</div>

<div class="col-md-12 pb-2 " style="border-bottom: solid 3px #cf3b76; ">
      <h1>Clasificaciones</h1>
</div>

<div class="col-md-12 pt-4">
    <%= link_to 'Nueva clasificación', clasificacion_nuevo_path, :class => "btng btn" %>
</div> 

<div class="col-md-12 pt-4">
  <h4>Búsqueda</h4>
  <%= form_tag(buscar_clasificacion_path, method: :post, :class => "form-inline") do %>
      <%= text_field_tag 'nombre', nil, placeholder: 'Nombre', :class => "form-control mb-2 mr-sm-2" %> 
      <%= text_field_tag 'color', nil, placeholder: 'Color', :class => "form-control mb-2 mr-sm-2" %> 
      <%= text_field_tag 'consistencia', nil, placeholder: 'Consistencia', :class => "form-control mb-2 mr-sm-2" %> 
      <%= text_field_tag 'proteina', nil, placeholder: 'Proteína', :class => "form-control mb-2 mr-sm-2" %> 
      <button class="search btng btn mb-2"> Buscar</button>
  <% end %>    
</div>


<div class="col-md-12 pt-4 table-responsive-sm">
<table class="table table-hover">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Color</th>
      <th scope="col">Consistencia</th>
      <th scope="col">Proteína</th>
      <th scope="col">Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clasificaciones.each do |clasificacion| %>
      <tr>
        <td><%= clasificacion.nombre %></td>
        <td><%= clasificacion.descripcion %></td>
        <td><%= clasificacion.color %></td>
        <td><%= clasificacion.consistencia %></td>
        <td><%= clasificacion.proteina %></td>
        <td><%= clasificacion.cantidad %></td>
        <td><%= link_to content_tag(:i, nil, class: "mostrar fas fa-eye", :title=> "Mostrar"),clasificacion_mostrar_path(clasificacion.id) %></td>
        <td><%= link_to content_tag(:i, nil, class: "editar fas fa-edit", :title=> "Editar"),clasificacion_editar_path(clasificacion.id) %></td>         
        <td><%= link_to content_tag(:i, nil, class: "eliminar fas fa-times", :title=> "Eliminar"), clasificacion_eliminar_path(clasificacion.id), method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="mx-auto">
  <%= will_paginate @clasificaciones %>
</div>
