	<div class="form-row">
    	<div class="form-group col-md-6">
           <%= form.label :nombre %>
			<%= form.text_field :nombre, :class => "form-control" %>
			<%= form.hidden_field :id %>         
        </div>
        <div class="form-group col-md-6">
            <%= form.label :cantidad %>
            <%= form.text_field :cantidad, :class => "form-control" %>              
        </div>
         
    </div>
    <div class="form-row">
    	<div class="form-group col-md-6">
           <%= form.label :ubicación %>
			<%= form.text_field :ubicacion, :class => "form-control" %>        
        </div>
        <div class="form-group col-md-6">
            <%= form.label :existencia %>
		<%= form.text_field :existencia, :class => "form-control" %>           
        </div> 
    </div>

    <div class="form-row">
    	<div class="form-group col-md-6">
           <%= form.label :función %>
			<%= form.text_field :funcion, :class => "form-control" %>      
        </div>
        <div class="form-group col-md-6">
            <%= form.label :descripción %>
            <%= form.text_field :descripcion, :class => "form-control" %>            
        </div> 
    </div>

	
	<%= form.submit "Guardar", :class => "btng btn" %>
	<%= link_to 'Regresar', areas_inicio_path, :class => "btng btn"  %>
	


