<p id="notice"><%= notice %></p>

<p>
  <strong>Embalaje:</strong>
  <%= @prueba.embalaje %>
</p>

<p>
  <strong>Color:</strong>
  <%= @prueba.color %>
</p>

<p>
  <strong>Suciedad:</strong>
  <%= @prueba.suciedad %>
</p>

<p>
  <strong>Olor:</strong>
  <%= @prueba.olor %>
</p>

<p>
  <strong>Crematocrito:</strong>
  <%= @prueba.crematocrito %>
</p>

<p>
  <strong>Kilocalorias:</strong>
  <%= @prueba.kilocalorias %>
</p>

<p>
  <strong>Proteinas:</strong>
  <%= @prueba.proteinas %>
</p>

<p>
  <strong>Carbohidratos:</strong>
  <%= @prueba.carbohidratos %>
</p>

<p>
  <strong>Grasas:</strong>
  <%= @prueba.grasas %>
</p>

<p>
  <strong>Clasificacion:</strong>
  <%= @prueba.clasificacion %>
</p>

<p>
  <strong>Cantidad almacenada:</strong>
  <%= @prueba.cantidad_almacenada %>
</p>

<p>
  <strong>Cantidad desechada:</strong>
  <%= @prueba.cantidad_desechada %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @prueba.etiqueta %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @prueba.cantidad %>
</p>

<%= link_to 'Edit', edit_prueba_path(@prueba) %> |
<%= link_to 'Back', pruebas_path %>
