<div class="col-md-12 pt-4">
<%= form_with(model: medico, id: 'formulario_medicos', local: true) do |form| %>
  <% if medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medico.errors.count, "error") %> prohibited this medico from being saved:</h2>

      <ul>
      <% medico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
           <%= form.label :nombre %>
          <%= form.text_field :nombre, :class => "form-control" %>
      </div>
      <div class="form-row">
      <div class="form-group col-md-6">
           <%= form.label :apellido_paterno %>
          <%= form.text_field :paterno, :class => "form-control" %>        
        </div>
        <div class="form-group col-md-6">
            <%= form.label :apellido_materno %>
             <%= form.text_field :materno, :class => "form-control" %>            
        </div> 
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
           <%= form.label :nacionalidad_id %>
            <%= form.select(:nacionalidad_id, @nacionalidades.collect{ |e| [e.nombre, e.id]}, {include_blank: 'Seleccionar uno'}, :class => "form-control") %>      
        </div>
        <div class="form-group col-md-4"> 
          <%= form.label :especialidad_id %>
        <%= form.select(:especialidad_id, @especialidades.collect{ |e| [e.nombre, e.id]}, {include_blank: 'Seleccionar uno'}, :class => "form-control") %>    
                 
        </div> 
        <div class="form-group col-md-4">
          <%= form.label :hospital_id %>
    <%= form.select(:hospital_id, @hospitales.collect{ |e| [e.nombre, e.id]}, {include_blank: 'Seleccionar uno'}, :class => "form-control") %>
                  
        </div> 
    </div>

    <fieldset class="form-group">
    <div class="row">
      <%= form.label :sexo,:class => "col-form-label col-sm-2 pt-0" %>
      <div class="col-sm-10">
        <div class="form-check">
          <%= form.radio_button(:sexo, 'F', :class => "form-check-input") %>
          <label class="form-check-label" for="medico_sexo_f">
            Femenino
          </label>
        </div>
        <div class="form-check">
          <%= form.radio_button(:sexo, 'M', :class => "form-check-input") %>
          <label class="form-check-label" for="medico_sexo_f">
            Masculino
          </label>
        </div>
      </div>
    </div>
  </fieldset>

    <div class="form-row">
      <div class="form-group col-md-6">
           <%= form.label :edad %>
            <%= form.text_field :edad, :class => "form-control" %>   
        </div>
        <div class="form-group col-md-6">
            <%= form.label :teléfono %>
            <%= form.text_field :telefono, :class => "form-control" %>  
        </div> 
    </div>

  
    <%= form.submit "Guardar", :class => "btng btn" %>
    <%= link_to 'Regresar', medicos_path, :class => "btng btn" %>
<% end %>
</div>



     