<div class="col-md-12 mb-4 text-center" >
      <p id="notice"><%= notice %></p>
</div>
<div class="col-md-12 mb-4 text-center" >
      <p id="alert"><%= alert %></p>
</div>

<div class="col-md-12 pb-2 " style="border-bottom: solid 3px #cf3b76; ">
      <h1>Recién nacidos</h1>
</div>

<div class="col-md-12 pt-4">
    <%= link_to 'Agregar nuevo', new_reciennacido_path, :class => "btng btn" %>
</div> 

<div class="col-md-12 pt-4">
     <h4>Búsqueda</h4>

  <%= form_tag(buscar_reciennacido_path, method: :post, :class => "form-inline") do %>
  <%= text_field_tag 'curp', nil, placeholder: 'CURP', :class => "form-control mb-2 mr-sm-2" %>
      <%= text_field_tag 'nombre_madre', nil, placeholder: 'Nombre madre', :class => "form-control mb-2 mr-sm-2" %>
      
       <%= text_field_tag 'apellido_paterno_madre', nil, placeholder: 'Apellido paterno madre', :class => "form-control mb-2 mr-sm-2" %>
        <%= date_field_tag 'fecha_nacimiento', nil, placeholder: 'Fecha de nacimiento', :class => "form-control mb-2 mr-sm-2" %> 
      <button class="search btng btn mb-2"> Buscar</button>
  <% end %>    
</div>

<div class="col-md-12 pt-4 table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>CURP</th>
      <th>Nombre madre</th>
      <th>Apellido paterno madre</th>
      <th>Apellido materno madre</th>
      <th>Edad madre</th>
      <th>Descripción</th>
      <th>Peso</th>
      <th>Fecha nacimiento</th>
      <th>Estatura</th>
      <th>Enfermedad</th>
      <th>Área</th>
      <th>Médico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reciennacidos.each do |reciennacido| %>
      <tr>
        <td><%= reciennacido.curp %></td>
        <td><%= reciennacido.nombre_madre %></td>
        <td><%= reciennacido.apellido_paterno_madre %></td>
        <td><%= reciennacido.apellido_materno_madre %></td>
        <td><%= reciennacido.edad_madre %></td>
        <td><%= reciennacido.descripcion %></td>
        <td><%= reciennacido.peso %></td>
        <td><%= reciennacido.fecha_nacimiento %></td>
        <td><%= reciennacido.altura %></td>
        <td><%= reciennacido.enfermedad.nombre %></td>
        <td><%= reciennacido.area.nombre %></td>
        <td><%= reciennacido.medico.nombre %></td>

        <td><%= link_to content_tag(:i, nil, class: "mostrar fas fa-eye", :title=> "Mostar"),reciennacido %></td>

        <td><%= link_to content_tag(:i, nil, class: "editar fas fa-edit", :title=> "Editar"), edit_reciennacido_path(reciennacido) %></td>
                   
        <td><%= link_to content_tag(:i, nil, class: "eliminar fas fa-times", :title=> "Eliminar"), reciennacido, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<div class="mx-auto">
  <%= will_paginate @reciennacidos %>
</div>